body {
  background-color: #0d0d0d;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #fdfdfd;
  padding-bottom: 100px;
  flex: 1;
}

#wrapper {
  display: flex;  /* use the flex model */
  min-height: 100%;
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}

#header {
  text-align: center;
}

#footer{
  text-align: center;
}

.icon {
  width: 103px;
  height: 103px;
}

.iconflip {
  width: 103px;
  height: 103px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  ms-filter: "FlipH"; 
}

/* unvisited link */
a:link {
    color: #ddddfd;
}

/* visited link */
a:visited {
    color: #ddddfd;
}

/* mouse over link */
a:hover {
    color: #ddddfd;
}

/* selected link */
a:active {
    color: #ddddfd;
}
