<!DOCTYPE html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126388516-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126388516-1');
</script>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
	<div style="text-align: center;"><!--center-->
	
	<div style="display: inline-block;">
        <a href="/"><img border="0" src="/images/icons/alloy_logo.png" style="width: 283px; height: 282px; position: relative;"></a>
	<a href="/"><img border="0" src="/images/icons/chapters.png" style="width: 166px; height: 110px; position: relative;"></a>
        <a href="/about"><img border="0" src="/images/icons/about.png" style="width: 130px; height: 86px; position: relative;"></a>
        <a href="/gallery"><img border="0" src="/images/icons/gallery.png" style="width: 142px; height: 90px; position: relative;"></a>
        <a href="https://lemonworm.threadless.com/"><img border="0" src="/images/icons/merch.png" style="width: 130px; height: 70px; position: relative;"></a>
	</div>
	
	<div class="container">
			
			{{ content }}
			
	</div><!-- /.container -->
	
	<div class="footer" style="display: inline-block; width: 860px;">
		<span style="float: left;"><a href="/about"><img border="0" src="/images/icons/lemonworm.png" style="width: 278px; height: 100px; position: relative;"></a></span>
		<span style="float: right;">
			<a href="https://www.instagram.com/lemonwormart/"><img border="0" src="/images/icons/insta_icon.png" style="width: 99px; height: 94px; position: relative;"></a>
			<a href="https://www.facebook.com/Lemonwormart/"><img border="0" src="/images/icons/fbook_icon.png" style="width: 94px; height: 92px; position: relative;"></a>
		</span>
	</div>

	</div><!--center-->
	
	</body>
</html>
